<div class="content-card">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Proyectos</mat-card-title>
        <mat-card-subtitle>Descripción del modulo de proyectos</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/img/ima1.jpg" alt="project" width="">
      <mat-card-content>
        <p class="paragraph">
            En el último ranking, Cisco Systems y JP Morgan Chase lideran en Health y Marketing con calificación 3. Alphabet destaca en Human Resources con 2 y Facebook también obtiene 3 en Health. Proyectos como State Farm Insurance y UnitedHealth Group tienen calificaciones de 2 y 1 respectivamente.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onRedirectProject()">Consultar</button>
      </mat-card-actions>
    </mat-card>
</div>
  